/* App 컴포넌트의 전체 스타일 */
.App {
  text-align: center; /* 내용을 중앙 정렬 */
}

/* App 로고 스타일 */
.App-logo {
  height: 40vmin; /* 뷰포트 높이의 40%로 설정 */
  pointer-events: none; /* 마우스 이벤트 비활성화 */
}

/* 사용자가 모션 감소를 선호하지 않을 때 적용되는 애니메이션 */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* 20초 동안 무한 회전 애니메이션 적용 */
  }
}

/* App 헤더 스타일 */
.App-header {
  background-color: #282c34; /* 배경색 설정 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향으로 요소 배치 */
  align-items: center; /* 가로축 중앙 정렬 */
  justify-content: center; /* 세로축 중앙 정렬 */
  font-size: calc(10px + 2vmin); /* 반응형 폰트 크기 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

/* App 링크 스타일 */
.App-link {
  color: #61dafb; /* 링크 색상 설정 */
}

/* App 로고 회전 애니메이션 정의 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* 시작 각도 */
  }
  to {
    transform: rotate(360deg); /* 종료 각도 (1회전) */
  }
}
